/* Estilos para contenedor de formulario y tabla */


form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input, select {
    margin-top: 5px;
    outline: none;
    padding: 10px;
}


button {
    margin-top: 20px;
    padding: 10px;
}

span, .error-message {
    color: red;
}

.has-error {
    border: 1px solid red;
}

/* estilos para Tabla de Inicio */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .data-cell {
    text-align: left;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* botones de opciones */
   
  .horizontal-container{
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: center;
  }
  .button-options{
    margin-top: -5;
    margin-right: 4%;
  }
